* {
	box-sizing: border-box;
}

html {
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: 1;
}

button {
	border: 0;
	background-color: transparent;
	cursor: pointer;
}

svg {
	width: 100%;
	height: 100%;
}