// # Colors
$color-base: #fff;
$color-accent: #1E3554;

// # Font families
$font-family-base: 'Roboto', sans-serif;
$font-family-main: 'Montserrat', sans-serif;

// # Font weight
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 900;


// # Font size
$font-size-base-value: 16;
$font-size-base: $font-size-base-value + 0px;