.search__no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 10px 10px;
  font-size: 12px;
  line-height: 1.3;
  color: $color-font-placeholder;
  .icon--no-results {
    margin-bottom: 5px;
  }
}